@use "../../variables";

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    color: variables.$font-color;
    margin-bottom: 2rem;
    text-align: center;
  }

  .events {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    padding: 2rem;
    scroll-snap-type: x mandatory;

    .event {
      scroll-snap-align: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      padding: 1rem 2rem;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #70707042;
      border: 2px solid #707070;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: white;
        background-color: #555555;
        border-color: #555555;

        h3,.event-date {
          color: white;
        color: variables.$font-color;
      }
      }

      .event-image {
        object-fit: cover;
        border: 2px solid #707070;
        border-radius: 20px;
        width: 13rem;
        height: 10.4rem;
        margin: auto;
        transition: all 0.3s ease-in-out;
        &:hover {
          border-color: white;
        }
      }

      h3 {
        font-size: 1.2rem;
        color: variables.$font-color;
        margin-bottom: 1rem;
        transition: color 0.3s ease-in-out;
      }

      p {
        font-size: 14px;
        text-align: left;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .events {
      width: 100%;

      .event {
        .event-image {
          width: 30rem;
          height: 24rem;
        }

        h3 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}
