@use "../../variables";

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    height: 0;
  }
  to {
    height: 50%;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideBot {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;

  .title {
    font-size: variables.$title-font-size;
    color: variables.$font-color;
    margin-bottom: 2rem;
    text-align: center;
  }

  .events {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    padding: 2rem;
    scroll-snap-type: x mandatory;

    .event {
      scroll-snap-align: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      height: fit-content;
      padding: 1rem 2rem;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border: 1px solid variables.$card-border-color;
      transition: background 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-color: variables.$card-border-color-hovered;
        h3,
        p {
          color: variables.$card-font-color-hovered;
        }
        .event-image {
          opacity: 0;
        }
      }
      .event-image {
        align-self: center;
        border: 1px solid variables.$card-border-color;
        border-radius: 20px;
        overflow: hidden;
        height: 30vh;
        width: 50vw;
      }

      h3 {
        font-size: variables.$base-font-size;
        color: variables.$card-font-color;
        margin-bottom: 1rem;
        transition: color 0.3s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
      }

      p {
        font-size: variables.$paragraph-font-size;
        text-align: left;
        transition: color 0.3s ease-in-out;
        color: variables.$card-font-color;
      }
    }
  }

  // big screens
  @media screen and (min-width: 1024px) {
    .events {
      width: 100%;
      .event {
        height: fit-content;
        width: 30vw;
        .event-image {
          height: 30vh;
          width: 25vw;
        }
      }
    }
  }
  @media screen and (min-width: 1280px) {
    .events {
      justify-content: center;
    }
  }
}

#markdown-body {
  pre {
    border-radius: 5px;
    color: variables.$font-color-hovered;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    font-family: variables.$base-font;
  }
  // font color
  color: variables.$font-color;
  font-family: variables.$base-font;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid variables.$card-border-color;
  h1,
  h2 {
    border-bottom: 1px solid variables.$card-border-color;
  }
}

.Projects,
.Projects .title,
.Projects .event .event-image,
.Projects .event h3,
.Projects .event .event-date,
.Projects .event p {
  opacity: 0;
}

.Project-header {
  &.animate {
    .Projects {
      animation: fade 1s ease-in-out forwards;
    }
    .title {
      animation: slideIn 1s ease-in-out forwards, fade 1s ease-in-out forwards;
    }
    .events .event h3 {
      animation: slideIn 0.5s ease-in-out 0.5s forwards,
        fade 1s ease-in-out 0.5s forwards;
    }

    .events .event .event-date {
      animation: slideIn 0.5s ease-in-out 1.5s forwards,
        fade 1s ease-in-out 1.5s forwards;
    }

    .events .event p {
      animation: slideIn 0.7s ease-in-out 1s forwards,
        fade 1s ease-in-out 1s forwards;
    }

    .events .event .event-image {
      animation: slideBot 0.7s ease-in-out 1s forwards,
        fade 1s ease-in-out 1s forwards;
    }
  }
}
