@use "../../variables";

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;

  .title {
    font-size: variables.$title-font-size;
    color: variables.$font-color;
    margin-bottom: 2rem;
    text-align: center;
  }

  .slider-container {
    position: relative;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;

    .menu {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 0.5rem;

      .dot {
        width: 0.625rem;
        height: 0.625rem;
        background-color: variables.$card-border-color;
        border-radius: 50%;
        cursor: pointer;

        &.active {
          background-color: variables.$primary-color;
        }
      }
    }

    .arrows {
      position: relative;
      top: 50%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      padding: 0 1.25rem;
      transform: translateY(-50%);
      width: 100%;

      .arrow {
        cursor: pointer;
        background: none;
        border: none;
        margin: 0 1rem;
        font-size: 1.5rem;
        color: #333;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: variables.$primary-color;
        }
      }
    }

    .event-image {
      align-self: center;
      border: 1px solid variables.$card-border-color;
      border-radius: 20px;
      overflow: hidden;
      height: 30vh;
      width: 50vw;
      margin-bottom: 1rem;
    }
  }

  h3,
  p {
    font-size: variables.$base-font-size;
    color: variables.$card-font-color;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
  }

  p {
    font-size: variables.$paragraph-font-size;
    text-align: left;
  }
}

.Projects .dot,
.Projects .title,
.Projects .event-image,
.Projects p,
.Projects h3 {
  opacity: 0;
}

.Project-header {
  &.animate {
    .title {
      animation: slideIn 1s ease-in-out forwards, fade 1s ease-in-out forwards;
    }
    h3 {
      animation: slideIn 0.5s ease-in-out 0.5s forwards,
        fade 1s ease-in-out 0.5s forwards;
    }

    p {
      animation: slideIn 0.7s ease-in-out 1s forwards,
        fade 1s ease-in-out 1s forwards;
    }

    .event-image {
      animation: slideBot 0.7s ease-in-out 1s forwards,
        fade 1s ease-in-out 1s forwards;
    }

    .dot {
      animation: slideBot 0.7s ease-in-out 1s forwards,
        fade 1s ease-in-out 1s forwards;
    }
  }
}
