@use '../../variables';


.Contact, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    input, textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1.2rem;
        font-family: "Roboto Mono", monospace;
        width: 30%;
        outline: none;

    }
    #message-input {
        display: flex;
        justify-content: start;
        align-items: start;
        height: 30%;
        outline: none;

    }
    button {
        background-color: white;
        color: black;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid gray;
        &:hover {
            color: white;
            background-color: rgb(40, 41, 55);
        }
    }
    @media (max-width: 768px) {
        form {
            width: 100%;
            input, textarea {
                width: 100%;
            }
        }        
    }
}
