@use "../../variables";

.Contact-header {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.animate {
    opacity: 0.8;
  }
}

.Contact,
form {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem 1rem;
  gap: 1.2rem;
  input,
  textarea {
    color: variables.$font-color-secondary;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: 0;
    border-bottom: 1px solid variables.$font-color-secondary;
    font-size: 1.2rem;
    font-family: variables.$base-font;
    width: 50%;
    outline: none;
    &:focus {
      color: variables.$font-color;
      border-bottom: 1px solid variables.$font-color;
    }
  }
  textarea {
    height: 40%;
    padding: 0.5rem;
    border: 1px solid variables.$font-color-secondary;
    &:focus {
      border: 1px solid variables.$font-color;
    }
  }
  #send-button {
    background-color: rgba(0, 0, 0, 0);
    color: variables.$font-color-secondary;
    outline: none;
    border: 0px;
    width: 50%;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: variables.$base-font;
    transition: all 0.3s ease-in-out;
    &:hover:enabled {
      color: variables.$font-color;
      background-color: variables.$font-color-secondary;
    }
  }
  h1 {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  form {
    input,
    textarea,
    #message-input {
      width: 100%;
    }
    #send-button {
      width: 100%;
    }
    .email {
      font-size: variables.$base-font-size;
      color: variables.$font-color-secondary;
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: variables.$base-font-size-big;
    }
    form {
      width: 50%;
      input,
      textarea,
      #message-input {
        width: 100%;
      }
      #send-button {
        width: 100%;
      }
    }
  }
  .email {
    font-size: variables.$base-font-size-big;
  }
}
