@use '../../variables';

.Navbar {
    z-index: 9;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 5vh;
    min-height: 5vh;
    background-color: variables.$primary-color;
    box-shadow: 0 0 10px black;
    .contact, .about, .projects, .home, .techs {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    &:hover {
        color: white;
        cursor: pointer;
    }
}