@use '../../variables';

.Navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 5vh;
    top: 0;
    #home, #about, #projects, #techs, #contact {
        border-bottom : 3px  transparent;
    }
    #contact-link, #about-link, #projects-link, #techs-link, #home-link {
        border-bottom : 3px  transparent;
        .active {
            border-bottom : 3px  solid orange;
        }
    }
}