@use "../../variables";

.Techs {
  display: flex;
  padding-top: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 14px;

  .Groups {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .Left_group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      @media screen and (max-width: 768px) {
        gap: 1rem;
      }

      #Gem_icon {
        transform: rotate(-47deg);
        transition: transform 0.3s ease-in-out;
      }
    }

    .Right_group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      @media screen and (max-width: 768px) {
        gap: 1rem;
      }
    }

    .Icon_group {
      display: flex;
      flex-direction: column;

      .Icon_group_line {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }

      .Icon {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: variables.$card-color;
        border-radius: 50%;
        border: 1px solid variables.$card-border-color;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        color: variables.$card-font-color;
        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          color: variables.$card-font-color-hovered;
          background-color: variables.$card-color-hovered;
        }

        @media screen and (max-width: 768px) {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
