@use "../../variables";

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideBot {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Techs {
  display: flex;
  padding-top: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: variables.$base-font-size;
  gap: 1rem;
  .title {
    font-size: variables.$title-font-size;
    color: variables.$font-color;
    margin-bottom: 2rem;
    text-align: center;
  }
  .Icon_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    transition: all 0.5s ease-in-out;
    gap: 2rem;
    .Icon_button {
      height: 2rem;
      width: 2rem;
      outline: none;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: variables.$card-font-color;
      background-color: variables.$card-color;
      border-radius: 50%;
      border: 1px solid variables.$card-border-color;
      cursor: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        color: variables.$card-font-color-hovered;
        background-color: variables.$card-color-hovered;
      }
    }
  }
  .separator-pointer {
    width: 1px;
    height: 15px;
    background-color: variables.$card-border-color;
    opacity: 1;
    margin: -0.5rem 0;
  }
  .Icon {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .Techs-text {
    height: 40%;
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: variables.$base-font-size;
    font-family: variables.$base-font;
    font-weight: 600;
    color: variables.$card-font-color;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid variables.$card-border-color;
    @media screen and (min-width: 768px) {
      width: 40%;
    }
    .Techs-title {
      align-self: flex-start;
      font-size: variables.$base-font-size;
      font-weight: 700;
      margin-bottom: 1rem;
      align-self: center;
      transition: all 1s ease-in-out;
      .Techs-title-name {
        color: variables.$font-color;
      }
      .Techs-title-category {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .Techs-experience {
      flex: 1;
      align-self: center;
      font-size: variables.$paragraph-font-size;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
      align-self: flex-start;
      transition: all 0.5s ease-in-out;
    }
  }
}

.Techs .title,
.Techs .Icon_group,
.Techs .Techs-text,
.Techs .Techs-text .Techs-title,
.Techs .Techs-text .Techs-description {
  opacity: 0;
}

.Techs-header {
  &.animate {
    .title {
      animation: slideIn 1s ease-in-out forwards, fade 1s ease-in-out forwards;
    }
    .Icon_group {
      animation: slideIn 0.5s ease-in-out 0.5s forwards,
        fade 1s ease-in-out 0.5s forwards;
    }
    .Techs-text {
      animation: slideBot 0.5s ease-in-out 1s forwards,
        fade 1s ease-in-out 1s forwards;
    }
  }
}
