@use "../../variables";

.Techs {
  display: flex;
  padding-top: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  gap: 2rem;
  .title {
    font-size: 2rem;
    color: variables.$font-color;
    margin-bottom: 2rem;
    text-align: center;
  }
  .Icon_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    transition: all 0.5s ease-in-out;
    gap: 1rem;
    .Icon_button {
      outline: none;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: variables.$card-font-color;
      width: 70px;
      height: 70px;
      background-color: variables.$card-color;
      border-radius: 50%;
      border: 1px solid variables.$card-border-color;
      cursor: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        color: variables.$card-font-color-hovered;
        background-color: variables.$card-color-hovered;
      }
      @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
  }
  .Icon,
  .Icon--center {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: variables.$card-color;
    border-radius: 50%;
    border: 1px solid variables.$card-border-color;
    transition: all 0.5s ease-in-out;
    @media screen and (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
  .Icon--center {
    width: 90px;
    height: 90px;
    @media screen and (max-width: 768px) {
      width: 70px;
      height: 70px;
    }
  }
  .Techs-text {
    height: 40%;
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: variables.$base-font;
    font-weight: 600;
    color: variables.$card-font-color;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: variables.$card-color;
    border: 1px solid variables.$card-border-color;
    @media screen and (min-width: 768px) {
      width: 40%;
    }
    .Techs-title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      align-self: flex-start;
      transition: all 0.5s ease-in-out;
    }
    .Techs-description {
      font-size: 1rem;
      font-weight: 400;
      align-self: flex-start;
      transition: all 0.5s ease-in-out;
    }
  }
}

// TODO : Carousel for techs with a card who describe the tech
