// _variables.scss

// Base colors
$primary-color: rgba(255, 255, 255, 0.8);
$font-color: rgba(255, 255, 255, 0.8);

// Hover colors are 10% lighter versions of the base colors
$primary-color-hovered: lighten($primary-color, 10%);
$font-color-hovered: $primary-color;

$base-font: "Open Sans", sans-serif;
$base-font-size: 16px;

// Cards
$card-font-color: rgba(255, 255, 255, 0.6);
$card-font-color-hovered: rgba(255, 255, 255, 0.8);

// $card-color: /#22577a;
$card-color: rgba(255, 255, 255, 0.2);
$card-color-hovered: rgba(255, 255, 255, 0.4);

// Card borders are the same color as the text
$card-border-color: $font-color;
$card-border-color-hovered: $font-color-hovered;

// Card hover borders are the same as the card hover colors
$card-hover-border-color: $card-color-hovered;
$card-hover-border-color-hovered: $card-color-hovered;
