// _variables.scss
$primary-color: #011520;
$font-color: #d1dae4;
$secondary-color: #abcdef;
$navbar-border-color: #1f2c3d;
$sidebar-border-color: #1f2c3d;
$base-font: 'Roboto Mono', monospace;
$base-font-size: 16px;
