@use "./variables";



#root, body, html {
    font-size: variables.$base-font-size;
    color: variables.$font-color;
    font-family: variables.$base-font;
    background-color: variables.$primary-color;
    width: 100vw;
    display: flex;
    flex-direction: column;
}