@use "./variables";

#root,
body,
html {
  font-size: variables.$base-font-size;
  color: variables.$font-color;
  font-family: variables.$base-font;
  font-weight: 400;
  background-color: variables.$primary-color;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  background: #000;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.Home,
.About,
.Projects,
.Techs,
.Contact {
  height: 100vh;
  scroll-snap-align: start;
}

html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$card-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: variables.$card-font-color;
  border: 1px solid variables.$card-border-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  // visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: variables.$card-font-color-hovered;
    background-color: variables.$card-color-hovered;
  }

  &.visible {
    opacity: 1;
    // visibility: visible;
  }

  &.hidden {
    opacity: 0;
    // visibility: hidden;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: variables.$card-border-color;
}
