#custom-cursor {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // mix-blend-mode: difference;
}

#trail1 {
  height: 50px;
  width: 50px;
  border: 5px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

body:hover #custom-cursor,
body:hover #trail1 {
  opacity: 1;
}
