#custom-cursor {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;

  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  // mix-blend-mode: difference;
}

body:hover #custom-cursor {
  opacity: 1;
}
